<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Solutioo_Base::solutioo"
             title="Solutioo"
             module="Solutioo_Base"
             sortOrder="50"
             resource="Solutioo_Base::solutioo"/>
        <add id="Solutioo_Base::config_menu"
             title="Base"
             module="Solutioo_Base"
             sortOrder="10"
             parent="Solutioo_Base::solutioo"
             action="adminhtml/system_config/edit/section/solutioo_base"
             resource="Solutioo_Base::config"/>
    </menu>
</config>
